 .sidebar {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    gap: 20px;
    width: 400px; /* Reduced width */
    max-width: 400px; /* Reduced max-width */
    height: 40vh; /* Full height to cover the entire screen */
    background: white;
}
.sidebar-item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 20px;
    padding: 5px 10px;
    border-radius: 6px;
    background: #f6f6f6;
    gap: 20px;
    cursor: pointer;
    flex-direction: column;
    width: 250px;
}
@media(min-width:800px){
    .sidebar {
        padding: 30px 0px;
        flex-direction: column;
        width: 400px; /* Consistent width */
        height: 40vh; /* Full height to cover the entire screen */
        max-width: 400px; /* Consistent max-width */
        justify-content: flex-start; /* Adjusted justification */
    }
    .sidebar-item{
        margin: 0;
    }
} 
